<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Tirocinio-prova1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>upload.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>roma3.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryServlet</display-name>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>roma3.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/QueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SQLServlet</display-name>
    <servlet-name>SQLServlet</servlet-name>
    <servlet-class>roma3.SQLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SQLServlet</servlet-name>
    <url-pattern>/SQLServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SQLServlet2</display-name>
    <servlet-name>SQLServlet2</servlet-name>
    <servlet-class>roma3.SQLServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SQLServlet2</servlet-name>
    <url-pattern>/SQLServlet2</url-pattern>
  </servlet-mapping>
</web-app>